@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.music-app {
  background: linear-gradient(
    89.7deg,
    rgb(0, 32, 95) 2.8%,
    rgb(132, 53, 142) 97.8%
  );
}

#scroll-container {
  border-radius: 5px;
  overflow: hidden;
  width: 70%;

  margin: auto;
}

#scroll-text {
  font-size: 30px;
  color: white;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.app-welcome {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.svg_icon {
  transform: scale(1.8);
  color: white;
  margin-right: 10px;
}

.app-name {
  color: white;
  font-family: "Yanone Kaffeesatz";
}
